.newsfeed-main {
  margin-top: 10vh;
}

.nav {
  width: 100vw;
  height: 10vh;
  background-color: #fafafa;
  box-shadow: 0 4px 2px -2px lightgray;
  position: fixed;
  top: 0; 
  z-index: 999;
}

.side-bar {
  padding: 0 2vw;
  font-size: small;
}

.side-bar-option {

}

.newsfeed-post-new {
  padding: 0 2vh 2vh 2vh;
}

.newsfeed-post {
  padding: 2vh;
}

.comment {
	margin-bottom: 5px;
	background-color: white;
	padding: 5px 10px;
	width: fit-content;
	border-radius: 20px;
}

.friend, .contacts {
  padding: 3px 10px;
}

.friend:hover {
  background-color: #fafafa;
  cursor: pointer; 
}

.view-more-posts {
  color: #4885ed;
  width: fit-content;
  margin: 0 auto;
}


.view-more-posts:hover {
  border-bottom: 1px solid #4885ed;
  cursor: pointer;
}

.chats {
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.chat-container {
  display: inline-block;
  vertical-align: bottom;
}

.chat-min {
  width: 175px;
  background-color: #fafafa;
  margin: 0 5px;
  padding: 0 5px;
  border: 1px solid #e6e6e6;
}

.chat-min:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.chat {
  width: 275px;
  margin: 0 5px;
}

.chat-header {
  background-color: #4885ed;
  color: white;
  padding: 0 5px;
  border: 1px solid #4885ed;
  border-bottom: none;
}

.chat-header:hover {
  background-color: #2e73ea;
  cursor: pointer;
}

.chat-box {
  height: 300px;
  background-color: white;
  border: 1px solid #f6f6f6;
  padding: 5px;
}

.from-message {
  margin-bottom: 5px;
  background-color: #4885ed;  
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  max-width: 80%;
  width: fit-content;
}

.to-message {
  margin-bottom: 5px;
  background-color: #f6f6f6;
  padding: 5px 10px;
  border-radius: 20px;
  max-width: 80%;
  width: fit-content;
}

/*.test {
  float: right;
}*/
