.newsfeed-main {
}

.nav {
  width: 100vw;
  height: 10vh;
  background-color: #fafafa;
  box-shadow: 0 4px 2px -2px lightgray;
}

.side-bar {
  padding: 0 2vw;
  font-size: small;
}

.side-bar-option {

}

.newsfeed-post-new {
  padding: 0 2vh 2vh 2vh;
}

.newsfeed-post {
  padding: 2vh;
}

.comment {
	margin-bottom: 5px;
	background-color: white;
	padding: 5px 10px;
	width: fit-content;
	border-radius: 20px;
}

.friend, .contacts {
  padding: 3px 10px;
}

.friend:hover {
  background-color: #fafafa;
  cursor: pointer; 
}

.view-more-posts {
  color: #4885ed;
  width: fit-content;
  margin: 0 auto;
}


.view-more-posts:hover {
  border-bottom: 1px solid #4885ed;
  cursor: pointer;
};

