.reset-spacing {
  padding: 0;
  margin: 0;
}

.fsxs {
	font-size: x-small;
}

.fss {
  font-size: small;
}

.fsl {
	font-size: large;
}

.p10 {
	padding: 10px;
}

.p20{
	padding: 20px;
}

.ph10 {
	padding: 0 10px;
}

.mv5 {
	margin: 5px 0;
}

.text-align-center {
  text-align: center;
}

.vam {
	vertical-align: middle;
}

.hc {
	margin: 0 auto;
}

.input-error {
	color: rgb(244, 67, 54);
}