.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*Landing Page*/
.header {
  width: 100vw;
  height: 14vh;
  background-color: #fafafa;
}

.logo {
  color: gray;
  margin: 4vh 0 0 12vw !important;
}

.sign-in-form {
}

.sign-in-form-field {
  color: white;
  margin: 0 .5vw;
}

.main {
  padding: 0 12vw;
}

.main-icon {
  transform: scale(1.8);
  margin-right: 20px;
}

.welcome-text {
  margin-top: 7vh;
}

.sign-up-form {
  margin-top: 2vh;
}

.sign-up-form-field-half {
}

.sign-up-form-field {
}

/*Login Page*/
.login-form {
  margin: 0 auto;
  padding: 5vh;
  background-color: #fafafa;
  margin-top: 10vh;
}

.login-form-content {
  margin: 0 auto;
}

.reset-spacing {
  padding: 0;
  margin: 0;
}

