body {
  color: #545454;
}

hr {
  margin: 5px 0;
}

/*Newsfeed*/
.nav {
  width: 100vw;
  height: 10vh;
  background-color: #fafafa;
  box-shadow: 0 4px 2px -2px lightgray;
}

.newsfeed-main {
  padding: 2vh;
}

.side-bar {
  padding: 0 2vw;
  font-size: small;
}

.newsfeed-post-new {
  padding: 0 2vh 2vh 2vh;
}

.newsfeed-post {
  padding: 2vh;
}

/*Landing Page*/
.header {
  width: 100vw;
  height: 14vh;
  background-color: #fafafa;
}

.logo {
  color: gray;
  margin: 4vh 0 0 12vw !important;
}

.sign-in-form {
}

.sign-in-form-field {
  color: white;
  margin: 0 .5vw;
}

.main {
  padding: 0 12vw;
}

.main-icon {
  transform: scale(1.8);
  margin-right: 20px;
}

.welcome-text {
  margin-top: 7vh;
}

.sign-up-form {
  margin-top: 2vh;
}

.sign-up-form-field-half {
}

.sign-up-form-field {
}

/*Login Page*/
.login-form {
  margin: 0 auto;
  padding: 5vh;
  background-color: #fafafa;
  margin-top: 10vh;
}

.login-form-content {
  margin: 0 auto;
}

.reset-spacing {
  padding: 0;
  margin: 0;
}

.fss {
  font-size: small;
}

.text-align-center {
  text-align: center;
}
